keybinds clear-defaults=true {
    locked {
        bind "Alt q" { Quit; }
        bind "Alt h" { MoveFocusOrTab "left"; }
        bind "Alt l" { MoveFocusOrTab "right"; }
        bind "Alt j" { MoveFocus "down"; }
        bind "Alt k" { MoveFocus "up"; }
        bind "Alt n" { NewTab; }
        bind "Alt c" { CloseTab; }
        bind "Alt r" { SwitchToMode "renametab"; TabNameInput 0; }
        bind "Alt 1" { GoToTab 1; }
        bind "Alt 2" { GoToTab 2; }
        bind "Alt 3" { GoToTab 3; }
        bind "Alt 4" { GoToTab 4; }
        bind "Alt 5" { GoToTab 5; }
        bind "Alt 6" { GoToTab 6; }
        bind "Alt 7" { GoToTab 7; }
        bind "Alt 8" { GoToTab 8; }
        bind "Alt 9" { GoToTab 9; }
    }
    renametab {
        bind "Ctrl c" "Esc" { UndoRenameTab; SwitchToMode "locked"; }
        bind "Enter" { SwitchToMode "locked"; }
    }
}

simplified_ui true

pane_frames false

default_mode "locked"

copy_command "xclip -selection clipboard"
copy_clipboard "primary"
copy_on_select true
