keybinds clear-defaults=true {
    locked {
        bind "Ctrl b" { SwitchToMode "normal"; }
    }
    normal {
        bind "Ctrl b" "Space" "Enter" { SwitchToMode "locked"; }
        bind "q" { Quit; }
        bind "n" { NewTab; SwitchToMode "normal"; }
        bind "c" { CloseTab; SwitchToMode "normal"; }
        bind "h" { MoveFocusOrTab "left"; SwitchToMode "normal"; }
        bind "l" { MoveFocusOrTab "right"; SwitchToMode "normal"; }
        bind "j" { MoveFocus "down"; SwitchToMode "normal"; }
        bind "k" { MoveFocus "up"; SwitchToMode "normal"; }
        bind "1" { GoToTab 1; }
        bind "2" { GoToTab 2; }
        bind "3" { GoToTab 3; }
        bind "4" { GoToTab 4; }
        bind "5" { GoToTab 5; }
        bind "6" { GoToTab 6; }
        bind "7" { GoToTab 7; }
        bind "8" { GoToTab 8; }
        bind "9" { GoToTab 9; }
        bind "r" { SwitchToMode "renametab"; TabNameInput 0; }
    }
    renametab {
        bind "Ctrl c" "Esc" { UndoRenameTab; SwitchToMode "normal"; }
        bind "Enter" { SwitchToMode "locked"; }
    }
}

simplified_ui true

pane_frames false

default_mode "locked"

copy_command "xclip -selection clipboard"
copy_clipboard "primary"
copy_on_select true
