*

# Include root directories

!.config/
!.config/bspwm/
!.config/bspwm/**
!.config/dunst/
!.config/dunst/**
!.config/flameshot/
!.config/flameshot/**
!.config/git/
!.config/git/**
!.config/go/
!.config/go/**
!.config/kitty/
!.config/kitty/**
!.config/lf/
!.config/lf/**
!.config/newsboat/
!.config/newsboat/**
!.config/nnn
!.config/nnn/**
!.config/nvim
!.config/nvim/**
!.config/polybar/
!.config/polybar/**
!.config/rofi/
!.config/rofi/**
!.config/sxhkd/
!.config/sxhkd/**
!.config/tabtab/
!.config/tabtab/**
!.config/zathura/
!.config/zathura/**
!.config/zellij/
!.config/zellij/**

!.config/mimeapps.list
!.config/picom.conf

!.github/
!.github/**

!.vim/
!.vim/vimrc

!.zsh/
!.zsh/**

!bin/
!bin/**

# Include root files

!.Xresources
!.bash_profile
!.bashrc
!.exrc
!.gitignore
!.hushlogin
!.profile
!.tmux.conf
!.xinitrc
!.xserverrc
!.zshenv

# Exclude specific sub files/directories

.config/git/allowed_signers
.config/lf/cleaner
.config/lf/preview
.config/newsboat/urls
.config/nnn/plugins/*
.config/nvim/plugin/packer_compiled.lua
.zsh/.zcompdump
bin/*.AppImage
