*

# Include root directories

!.config/
!.config/bspwm/
!.config/bspwm/**
!.config/dunst/
!.config/dunst/**
!.config/fastfetch/
!.config/fastfetch/**
!.config/flameshot/
!.config/flameshot/**
!.config/fzf/
!.config/fzf/**
!.config/ghostty/
!.config/ghostty/**
!.config/git/
!.config/git/**
!.config/gtk-3.0/
!.config/gtk-3.0/**
!.config/gtk-4.0/
!.config/gtk-4.0/**
!.config/hypr/
!.config/hypr/**
!.config/kitty/
!.config/kitty/**
!.config/lf/
!.config/lf/**
!.config/mpv/
!.config/mpv/**
!.config/newsboat/
!.config/newsboat/**
!.config/nvim
!.config/nvim/**
!.config/paru/
!.config/paru/**
!.config/picom/
!.config/picom/**
!.config/polybar/
!.config/polybar/**
!.config/rofi/
!.config/rofi/**
!.config/sxhkd/
!.config/sxhkd/**
!.config/systemd/
!.config/systemd/user/
!.config/systemd/user/ipns-publish.*
!.config/tabtab/
!.config/tabtab/**
!.config/tofi/
!.config/tofi/**
!.config/waybar/
!.config/waybar/**
!.config/xdg-desktop-portal/
!.config/xdg-desktop-portal/**
!.config/zathura/
!.config/zathura/**
!.config/zellij/
!.config/zellij/**

!.config/mimeapps.list

!.github/
!.github/**

!.vim/
!.vim/vimrc

!.zsh/
!.zsh/**

!bin/
!bin/**

# Include root files

!.Xresources
!.bash_profile
!.bashrc
!.exrc
!.gitignore
!.hushlogin
!.profile
!.tmux.conf
!.xinitrc
!.xserverrc
!.zshenv
!.config/go/env

# Exclude specific sub files/directories

.config/git/allowed_signers
.config/lf/cleaner
.config/lf/preview
.config/newsboat/urls
.config/nvim/.solc-version
.config/nvim/lazy-lock.json
.zsh/.zcompdump
bin/*.AppImage
