*

!.Xresources
!.bash_profile
!.bashrc
!.config
!.exrc
!.github
!.gitignore
!.hushlogin
!.profile
!.tmux.conf
!.vim
!.xinitrc
!.xserverrc
!.zsh
!.zshenv
!bin

.config/nvim/plugin/packer_compiled.lua
.zsh/.zcompdump
