layout {
    tab name="nvim" focus=true {
        pane {
            command "$HOME/.config/zellij/start-nvim"
        }
    }
    tab name="shell" {
        pane
    }

    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="file:$HOME/projects/zellij-cb/target/wasm32-wasip1/release/zellij-cb.wasm" {
                DisplaySessionDirectory false
            }
        }
    }
}
